<div id="topbar" class="navbar navbar-fixed-top">
  <a class="navbar-brand" href="#"><strong>Geheimnis 核心!</strong></a>
  <ul class="nav navbar-nav ga-paging-links" data-pagegroup="navbar">
    <li name="contact"><a href="#">通讯录</a></li>
    <li name="codebook"><a href="#">密码本通讯</a></li>
    <li name="pkicomm"><a href="#">认证通讯</a></li>
    <li name="tool"><a href="#">工具</a></li>
  </ul>
  <ul class="nav navbar-nav pull-right">
    <li><a href="#">任务管理器  <span name="task_manager" class="badge"></span></a></li>
  </ul>
</div>
<div style="height: 60px"></div>
