<!DOCTYPE html>
<html>
<head>
<title>{% block title %}{% endblock %}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="static/css/bootstrap.min.cosmo.css" rel="stylesheet" media="screen">
<script src="static/js/jquery.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script>
{% block script %}{% endblock %}
</script>
<style>
{% block css %}{% endblock %}
</style>
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
