{% extends "base.htm" %}
{% block title %}Geheimnis - Backend{% endblock %}
{% block script %}
    {% include "index.js" %}
    {% include "session.js" %}
    {% include "navbar.js" %}
    {% include "notification.js" %}
    $(function(){
        $('#testbtn').click(function(){
                    notification.notify(
                        '与系统的连接中断',
                        '可能是暂时错误，也可能由于您的登录失效，或者其他网络问题导致。<br /><strong>如问题持续，30秒内将退出系统。</strong>'
                        ,'error'
                    );
        });
    });
{% endblock %}
{% block css %}
    {% include "index.css" %}
{% endblock %}

{% block content %}
    {% include "_.navbar.htm" %}
    <div>
        <button id="testbtn">Test</button>
    </div>
    {% include "_.bottombar.htm" %}
{% endblock %}
