{% extends "base.htm" %}
{% block title %}Geheimnis - Backend{% endblock %}
{% block script %}
    {% include "index.js" %}
    {% include "session.js" %}
    {% include "navbar.js" %}
    {% include "pages.js" %}
    {% include "notification.js" %}
{% endblock %}
{% block css %}
    {% include "index.css" %}
{% endblock %}

{% block content %}
    {% include "_.navbar.htm" %}
    <div id="page-area">
        <div name="contact">{% include "page.contact.htm" %}</div>
        <div name="codebook">{% include "page.codebook.htm" %}</div>
        <div name="pkicomm">{% include "page.pkicomm.htm" %}</div>
        <div name="tool">{% include "page.tool.htm" %}</div>
    </div>
    {% include "_.bottombar.htm" %}
{% endblock %}
