<!DOCTYPE html>
<html>
<head>
<title>Geheimnis - Backend - Login</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="static/css/bootstrap.min.cosmo.css" rel="stylesheet" media="screen">
<script src="static/js/jquery.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script>
var messages = {
    1: ['登录认证失败，请检查用户名和密码。', 'danger'],
    2: ['注册失败，两次输入密码不一致。', 'danger'],
    3: ['注册失败，用户名构成不正确。', 'danger'],
    4: ['注册失败，用户已经存在。', 'danger'],
    5: ['注册失败，无法存入数据库。', 'danger'],
    6: ['未知错误', 'danger'],
};

$(function(){
    $('#jswarn').hide();
    $('#root').show();

{% if option_show_warning == true %}
    $('#secwarn-understand').click(function(){
        $('#ui').show();
    });
    $('#secwarn').show();
{% else %}
    $('#ui').show();
{% endif %}

    $('#operations a')
        .click(function(e){
            e.preventDefault();
            $('#alertbox').hide();
            $(this).tab('show');
        })
        .filter('[href="#{{ option_tab }}"]').tab('show')
    ;

{% if option_alert_message > 0 %}
    $('#alertbox')
        .addClass('alert-' + messages[{{option_alert_message}}][1])
        .text(messages[{{option_alert_message}}][0])
        .show()
    ;
{% endif %}

});
</script>
<style>
    #root,#ui,#secwarn,#alertbox{display: none;}
</style>
</head>
<body>
<div id="jswarn" class="alert alert-danger">
<strong>JavaScript没有启动。</strong>这将无法使用本页面的功能。请启用JavaScript，或者使用支持JavaScript的浏览器，然后重试。
</div>
<div id="root" class="container">
    <h1>登录 - Geheimnis系统核心界面</h1>

    <div id="secwarn" class="alert alert-info">
      <h3>安全警告</h3> 
      <p>您正在登录Geheimnis核心管理界面。</p>
      <ul>
          <li>这一界面处理机密信息，只应当在Geheimnis系统的终端上显示;</li>
          <li>如果您在不安全的计算机上登录，则全部机密信息都将泄漏;</li>
          <li>对于不安全的计算机，应当访问Geheimnis系统的前端界面。</li>
      </ul>
      <p>请您确认，您<strong>没有</strong>在不安全的计算机上登录本界面。</p>
      <button id="secwarn-frontend" type="button" class="btn btn-danger">转往前端界面</button>
      <button id="secwarn-understand" type="button" class="btn btn-success" data-dismiss="alert">我已充分了解并为此负责</button>
      <h3></h3>
    </div>
   
    <div id="ui">
    
        <ul class="nav nav-tabs" id="operations">
            <li class="active"><a href="#login">登录</a></li>
            <li><a href="#reg">注册</a></li>
        </ul>

        <div id="alertbox" class="alert"></div>

        <div class="tab-content">
            <div class="tab-pane active" id="login">
                <form role="form" action="login.php?do=login" method="POST">
                    <p class="help-block">
                        您需要认证身份，以便使用Geheimnis密码系统。请输入用户名和密码。
                    </p>
                    <div class="form-group">
                        <label for="input-username">用户名</label>
                        <input type="text" class="form-control" name="username" id="input-username" placeholder="您的用户名，不是通讯系统识别名" required>
                    </div>
                    <div class="form-group">
                        <label for="input-password">密码</label>
                        <input type="password" class="form-control" name="password" id="input-password" placeholder="您的密码" required>
                    </div>
                    <button type="submit" class="btn btn-default">登录</button>
                </form>
            </div>
            <div class="tab-pane" id="reg">
                {% if option_allow_register %}
                <form role="form" action="login.php?do=reg" method="POST">
                    <p class="help-block">
                        请根据提示填写如下信息。所有信息必填。
                    </p>
                    <div class="form-group">
                        <label for="input-username">用户名</label>
                        <p class="help-block">
                        用户账户用于登录本Geheimnis终端，实现对机密信息缓存的管理和会话操作。
                        您的用户名为用户账户的标识，但可以不是您使用Geheimnis系统进行通讯时向其他人标识自己的标识。
                        用户名仅限字母、数字、下划线，不区分大小写，长度在32个字符内。
                        </p>
                        <input type="text" class="form-control" name="username" id="input-username" placeholder="仅限字母、数字、下划线，不区分大小写" required>
                    </div>
                    <div class="form-group">
                        <label for="input-password">密码</label>
                        <input type="password" class="form-control" name="password" id="input-password" placeholder="您的密码" required>
                    </div>
                    <div class="form-group">
                        <label for="input-password">请再输入一次确认</label>
                        <input type="password" class="form-control" name="password2" id="input-password2" placeholder="您的密码" required>
                    </div>
                    <button type="submit" class="btn btn-default">注册新用户</button>
                </form>
                {% else %}
                <div class="alert alert-danger">
                    根据本Geheimnis系统终端的配置，当前没有开放注册。
                </div>
                {% endif %}
            </div>
        </div>
    
    </div>

</div>
</body>
</html>
