<!DOCTYPE html>
<html>
<head>
<title>Geheimnis - Backend - Login</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="static/css/bootstrap.min.cosmo.css" rel="stylesheet" media="screen">
<script src="static/js/jquery.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script>
$(function(){
    $('#jswarn').hide();
    $('#root').show();

{% if option_show_warning == true %}
    $('#secwarn-understand').click(function(){
        $('#ui').show();
    });
    $('#secwarn').show();
{% else %}
    $('#ui').show();
{% endif %}


    $('#operations a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    });
});
</script>
<style>
    #root,#ui,#secwarn{display: none;}
</style>
</head>
<body>
<div id="jswarn" class="alert alert-danger">
<strong>JavaScript没有启动。</strong>这将无法使用本页面的功能。请启用JavaScript，或者使用支持JavaScript的浏览器，然后重试。
</div>
<div id="root" class="container">
    <h1>登录 - Geheimnis系统核心界面</h1>

    <div id="secwarn" class="alert alert-info">
      <h3>安全警告</h3> 
      <p>您正在登录Geheimnis核心管理界面。</p>
      <ul>
          <li>这一界面处理机密信息，只应当在Geheimnis系统的终端上显示;</li>
          <li>如果您在不安全的计算机上登录，则全部机密信息都将泄漏;</li>
          <li>对于不安全的计算机，应当访问Geheimnis系统的前端界面。</li>
      </ul>
      <p>请您确认，您<strong>没有</strong>在不安全的计算机上登录本界面。</p>
      <button id="secwarn-frontend" type="button" class="btn btn-danger">转往前端界面</button>
      <button id="secwarn-understand" type="button" class="btn btn-success" data-dismiss="alert">我已充分了解并为此负责</button>
      <h3></h3>
    </div>
   
    <div id="ui">
    
        <ul class="nav nav-tabs" id="operations">
            <li class="active"><a href="#login">登录</a></li>
            <li><a href="#reg">注册</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="login">
                <form role="form" action="login.php?do=login" method="POST">
                    <p class="help-block">
                        您需要认证身份，以便使用Geheimnis密码系统。请输入用户名和密码。
                    </p>
                    <div class="form-group">
                        <label for="input-username">用户名</label>
                        <input type="text" class="form-control" name="username" id="input-username" placeholder="您的用户名，不是通讯系统识别名" required>
                    </div>
                    <div class="form-group">
                        <label for="input-password">密码</label>
                        <input type="password" class="form-control" name="password" id="input-password" placeholder="您的密码" required>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
            <div class="tab-pane" id="reg">...</div>
        </div>
    
    </div>

</div>
</body>
</html>
