<div class="page-header">
    <h3>通讯录</h3>
</div>
<p>
Geheimnis系统的每个使用者，都具有一个或多个“名片”。
名片下挂载密码本和公钥系统数据，或者说，是所有这些数据的“账户”。
</p>
<p>
在这一页面，您可以查看所有的名片，或者对名片添加删除。
</p>
<div name="main-accordion" class="gaui-accordion">
    <h3>联系人列表</h3>
    <div>
        
    </div>
    <h3>添加联系人</h3>
    <div>
        <form name="add-contact" class="form-horizontal" role="form" method="post">
            <div class="form-group">
                 <label for="title">标题</label>
                <input type="text" class="form-control" name="title" placeholder="联系人的名称" required>
            </div>
            <div class="form-group">
                 <label for="describe">描述</label>
                <input type="text" class="form-control" name="describe" placeholder="简要描述这一名片">
            </div>
            <div class="form-group">
                <button name="submit" type="button" class="btn btn-default">添加</button>
            </div>
        </form>
    </div>
</div>
