<div class="page-header">
    <h3>通讯录</h3>
</div>
<p>
Geheimnis系统的每个使用者，都具有一个或多个“名片”。
名片下挂载密码本和公钥系统数据，或者说，是所有这些数据的“账户”。
</p>
<p>
在这一页面，您可以查看所有的名片，或者对名片添加删除。
</p>
<div name="main-accordion" class="gaui-accordion">
    <h3>联系人列表</h3>
    <div>
        <button type="button" class="btn btn-link">刷新列表</button>
        <div name="list-contact-result">
            <div name="loading-contact-table" class="alert alert-info">
                正在加载列表，请稍等...
            </div>
            <table name="list-contact-table" class="table">
                <th>
                    <td>标题</td>
                    <td>描述</td>
                    <td>操作</td>
                </th>
            </table>
            <div name="null-contact-table" class="alert alert-danger">
                当前没有联系人。您可以在下面使用表单添加一个。
            </div>
        </div>
    </div>
    <h3>添加联系人</h3>
    <div>
        <form name="add-contact" class="form-horizontal" role="form" method="post">
            <div class="form-group">
                 <label for="title">标题</label>
                <input type="text" class="form-control" name="title" placeholder="联系人的名称" required>
            </div>
            <div class="form-group">
                 <label for="describe">描述</label>
                <input type="text" class="form-control" name="describe" placeholder="简要描述这一名片">
            </div>
            <div class="form-group">
                <button name="submit" type="button" class="btn btn-default">添加</button>
            </div>
        </form>
    </div>
</div>
