<div class="page-header">
    <h3>通讯录</h3>
</div>
<p>
Geheimnis系统的每个使用者，都具有一个或多个“名片”。
名片下挂载密码本和公钥系统数据，或者说，是所有这些数据的“账户”。
</p>
<p>
在这一页面，您可以查看所有的名片，或者对名片添加删除。
</p>
<div class="gaui-accordion">
    <h3>联系人列表</h3>
    <div>
        
    </div>
    <h3>添加联系人</h3>
    <div>
        <p>
Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor
velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In
suscipit faucibus urna.
        </p>
    </div>
</div>
