<div class="container ga-paging-page" data-pagegroup="navbar" data-pagename="tool">
    <div class="row">
        <div class="col-lg-2">
            <ul class="nav nav-pills nav-stacked ga-paging-links" data-pagegroup="tool">
              <li name="all-member"><a href="#">全部成员</a></li>
              <li name="find-member"><a href="#">查找成员</a></li>
              <li name="add-member"><a href="#">添加成员</a></li>
            </ul>
        </div>
        <div class="col-lg-10 ga-paging-page" data-pagegroup="tool" data-pagename="all-member">
            <h3>成员列表</h3>
            <table class="table">
                <thead>
                <tr><th>你</th><th>我</th></tr>
                </thead>
                <tbody>
                <tr><td>你</td><td>我</td></tr>
                <tr><td>你</td><td>我</td></tr>
                <tr><td>你</td><td>我</td></tr>
                <tr><td>你</td><td>我</td></tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-10 ga-paging-page" data-pagegroup="tool" data-pagename="find-member">
            <h3>查找成员</h3>
        </div>
        <div class="col-lg-10 ga-paging-page" data-pagegroup="tool" data-pagename="add-member">
            <h3>添加成员</h3>
        </div>
    </div>
</div>
