<div class="container ga-paging-page" data-pagegroup="navbar" data-pagename="codebook">
    <div class="row">
        <div class="col-lg-2">
            <ul class="nav nav-pills nav-stacked ga-paging-links" data-pagegroup="codebook">
              <li name="codebook-list"><a href="#">密码本列表</a></li>
              <li name="codebook-edit"><a href="#">编辑密码本</a></li>
              <li name="codebook-use"><a href="#">密码本应用</a></li>
            </ul>
        </div>
        <div class="col-lg-10 ga-paging-page" data-pagegroup="codebook" data-pagename="codebook-list">
            <h3>密码本列表</h3>
        </div>
        <div class="col-lg-10 ga-paging-page" data-pagegroup="codebook" data-pagename="codebook-edit">
            <h3>编辑密码本</h3>
        </div>
        <div class="col-lg-10 ga-paging-page" data-pagegroup="codebook" data-pagename="codebook-use">
            <h3>使用密码本</h3>
        </div>
    </div>
</div>
